<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-conent">
  <p>Olá, {{name}}</p>
  <p>Foi solicitada a troca de senha para sua conta do GoBarber.</p>
  <p>Para escolher uma nova senha, clique no link abaixo:</p>
  <p>
    <a href="{{link}}">Redefinir senha</a>
  </p>
  <p>Obrigado!<br>
    <strong>Equipe GorBarber</strong>
  </p>
</div>
